@import '../../utils/mixin';

.herobanner {
    width: 100%;
    height: 400px;
    background-color: var(black);
    display: flex;
    align-items: center;
    position: relative;

    @include md {
        height: 700px;
    }

    .hero-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
        overflow: hidden;

        .lazy-load-image-background {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .hero-overlay {
        width: 100%;
        height: 150px;

        @include md {
            height: 200px;
        }

        position: absolute;
        bottom: 0;
        left: 0;
        background:linear-gradient(180deg,
            rgba(4, 21, 45, 0) 0%,
            #04152d 79.17%)
    }

    .heroContent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
        max-width: 800px;
        color: white;
        padding-bottom: 20px;

        .title {
            font-weight: 600;
            font-size: 45px;
            margin-bottom: 5px;
            z-index: 2;

            @include md {
                font-size: 55px;
                margin-bottom: 10px;
            }
        }

        .subtitle {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 20px;
            margin-top: 4px;
            z-index: 2;

            @include md {
                font-size: 25px;
            }
        }

        .heroSearchInput {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            z-index: 2;

            input {
                width: calc(100% - 100px);
                background-color: white;
                height: 40px;
                outline: none;
                border: 0;
                border-radius: 20px 0 0 20px;
                padding: 10px;

                @include md {
                    font-size: 1.2rem;
                    height: 55px;
                    padding: 15px;
                    border-radius: 30px 0 0 30px;
                }
            }

            button {
                height: 40px;
                border: 0;
                border-radius: 0 20px 20px 0;
                padding: 10px;
                background-color: orange;
                color: white;
                cursor: pointer;

                &:hover {
                    background-color: rgb(238, 188, 94);
                }

                @include md {
                    font-size: 1.2rem;
                    height: 55px;
                    padding: 15px;
                    border-radius: 0 30px 30px 0;

                }
            }

        }
    }
}